/* Media Queries for screens larger than 768px */
@media (min-width: 769px) {
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    nav a {
      padding: 14px 16px;
      width: auto;
      text-align: center;
    }
  
    .nav-menu-button-for-narrow-screen {
      display: none;
    }
  }